---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as AboutPage } from '../content/about.md';
import { Image } from 'astro:assets';
import siteConfig from '../../site.config.mjs';
import musicSheetBg from '../../public/musicSheet.jpg';

const profileImage = siteConfig.profileImage;
const base = import.meta.env.BASE_URL;
---

<MainLayout>
	<section class="pt-48 pb-32">
		<div class="container-custom px-8 md:px-4">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-16 items-center">
				<div>
					<video
						autoplay
						loop
						muted
						playsinline
						class="w-full h-auto"
					>
						<source src=`${base}images/flowerSprayVideo.mp4` type="video/mp4" />
					</video>
				</div>

				<div class="prose text-gray-700 prose-sm md:prose-base" style="word-break: keep-all;">
					<AboutPage />
				</div>
			</div>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-16 items-center mt-16 md:mt-32">
				<div class="text-gray-700 order-2 lg:order-1" style="word-break: keep-all;">
					<div class="text-2xl md:text-4xl font-black leading-tight md:leading-normal mb-8 md:mb-10">
						공간과 시간의 제약에서 완전히 자유롭습니다.
					</div>

					<div class="text-sm md:text-lg leading-relaxed md:leading-loose">
						<strong>내일 당장 필요한 제품 이미지,</strong><br>
						제품 수령부터 스튜디오 예약, 촬영, 보정까지<br>
						복잡한 과정 없이 <strong>Legato Design</strong>의 가상 스튜디오에서 한 번에 완성됩니다.<br>
						시간, 장소, 계절의 제약 없이<br>
						다양한 환경과 연출이 자유롭게 구현되며<br>
						자연광이 비치는 실내부터 무드 조명이 있는 야외까지<br>
						원하는 공간과 분위기를 그대로 재현합니다.
					</div>
				</div>

				<div class="order-1 lg:order-2">
					<video
						autoplay
						loop
						muted
						playsinline
						class="w-full h-auto"
					>
						<source src=`${base}images/canVideo.mp4` type="video/mp4" />
					</video>
				</div>
			</div>

		</div>
	</section>

	<section class="py-20 md:py-32 relative overflow-hidden">
		<div class="absolute inset-0">
			<Image
				src={musicSheetBg}
				alt="Music Sheet Background"
				quality={70}
				format="webp"
				loading="lazy"
				class="w-full h-full object-cover"
				style="filter: grayscale(50%);"
			/>
		</div>
		<div class="absolute inset-0 bg-black opacity-60"></div>
		<div class="container-custom relative z-10 px-6 md:px-4">
			<div class="text-center max-w-4xl mx-auto">
				<p class="text-base md:text-2xl leading-relaxed md:leading-relaxed text-white" style="word-break: keep-all;">
					<strong>Legato(레가토)는 '부드럽고 끊김 없이 연주하다'라는 뜻의 음악용어입니다.</strong><br>
					우리는 이 감각을 디자인의 중심에 둡니다.<br>
					제품의 형태에서 출발해 이를 바라보는 사람의 시선에 이르기까지<br>
					제품의 본질적인 가치가 자연스럽게 전달되도록 합니다.<br>
					부드러운 선율부터 화려한 기교까지,<br>
					Legato Design은 고객과 함께 하나의 브랜드를 연주합니다.
				</p>
			</div>
		</div>
	</section>
</MainLayout>
